    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Property Management for a New Age</div>
                <div class="intro-heading"><!--It's Nice To Meet You-->&nbsp;</div>
                <a href="tel:6164664201" class="page-scroll btn btn-xl"><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;616.466.4201</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
